.flex-container-counter {
	align-items: center;
	display: flex;
	justify-content: center;
}

.container-counter {
	background-color: rgba(178, 178, 177, 0.897);
}

/* .div-counter {
	width: 38%;
} */
